/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    color: #555;
    font-family: 'Lato', sans-serif, Arial;
    font-size: 20px;
    font-weight: 400;
    text-rendering: optimizeLegibility
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}
